<h2>Search Writings</h2>
<form action="/writings" method="GET">
    <label>Headline</label>
    <input type="text" name="headline" value="<%= searchOptions.headline %> ">
    <button type="submit">Search</button>
</form>
<br>
<% writings.forEach(writing => { %> 
    <div><%= writing.headline %></div>
    <a href="/writings/<%= writing.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
                { url: `/writings/${writing.id}` }) %> 
<% }) %> 