<%- include('../partials/header.ejs')%>
<h2>New writing</h2>
<form action="/writings" method="POST">
    <%- include('_form_fields') %>
    <a href="/writings">Cancel</a>
    <button type="submit">Create</button>
</form>
<%- include('../partials/scripts.ejs')%>