<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">  
</script>
<form method="POST" action="<%= url %>?_method=DELETE">
   <button type="submit">Delete</button>
</form>