<header>
    <nav>
        <a href ="/">Eliza Gearty</a>
        <ul>
            <li><a href="/writings">Writings</a></li>
            <li><a href="/writings/new">Add Writing</a></li>
        </ul>
        
    </nav>
</header>