<h2>Other</h2>

<div>
<% writings.forEach(writing => { %> 
    
    <img width="250" src="<%= writing.writingImagePath %>">
    <div><%= writing.headline %></div>
    <div><%= writing.description %></div>
    <div><a href="http://<%= writing.writingURL %>" target="_blank">READ</a></div>
    
<br>
<hr>
<% }) %> 
</div>