

<div class="canvas">
    <div>
        <h1 class="logo"><a href="/index.html">ELIZA GEARTY</h1></a>
    </div>
    <div class="menuBar">
        <div class="menuItem"><a href="/index.html">Home</a></div>
        <div class="menuItem"><a href="/doors.html">On the doors</a></div>
        <div class="menuItem"><a class="active" href="/theatre">Theatre</a></div>
        <div class="menuItem"><a href="/other">Other musings</a></div>
        </div>
    <div class="pageDivide"></div>

  
<div class="writingBlocks">
<% writings.forEach(writing => { %> 
<br>
<br>
<br>
<br>
    <img width="250" src="https://res.cloudinary.com/dmupfimgd/image/upload/<%= writing.writingImageName %>">
    <div><%= writing.headline %></div>
    <div><%= writing.description %></div>
    <div><a href="http://<%= writing.writingURL %>" target="_blank">READ</a></div>
    
<br>
<hr>
<% }) %> 
</div>
