:root {
    --main-color: #2f4e39;
    --main-color-gradient: #223829;
    --highlight-color: rgb(236, 236, 160);
}

* {
    box-sizing: border-box;
   
}

html {
    font-size: 100%;
}

.baller {
    background-color: honeydew;
    color:green;
}

body {
margin: 0;
background-blend-mode: screen;
background-attachment: fixed;
color: #3f3e3e;
font-family: alata;
font-size: 0.75em;
text-decoration: none;

}

.login {
    padding-bottom: 5px;
}

h1 {
    margin: 0;
    font-size: 7.25em;
          
}

a {
    text-decoration: none;
    
    font-weight: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #5A5A5A;
}

a:active {
    text-decoration: none;
}


.tableEdit {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: large;
      }
      
      
.tableEdit tr:nth-child(even){
    background-color: #f2f2f2;
}

.tableEdit tr:hover {background-color: #ddd;}
      
.tableEdit th {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 150px;
        text-align: center;
        background-color: #765AC5;
        color: white;
}




.description {
    font-size: 18px;
    padding-top: 1em;
}

.headline {
    font-size: 30px;
}

.menuBar {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0;
    padding: 80px 401px 0;
}

.menuBar a {
    padding: 20px 0;
}

.menu-link {
    font-size: 1em;  
    color: var(--main-color);
    
}

.menuBar a.active {
    border-bottom: 1px solid #765AC5;
    
}

.menuBar a:hover {
    border-bottom: 1px solid var(--main-color);
    
}

.right-adjust {
    text-align: right;
}

.vid-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#myVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.pageDivide {
    padding: 1em 0;
    border-bottom: 1px solid #765AC5;
}


.imageBorder {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.imageBk {
    position: absolute;
    padding-right: 26px;
    padding-top: 26px;
    margin: 0;
    right: 0px;
    max-width: 425px;
    min-width: 100px;
    
}
 
.imageWritings {
    margin: 0;
    margin-top: 20px;
    max-width: 400px;
    min-width: 170px;
}

.imageWritings img {
    width: 100%;
    max-width: 250px;
}

.image {
    flex: 50%;
    max-width: 100%;
    padding: 20px 4px;
}

.image img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    min-width: 150px;
    text-align: center;
}

.mainImgs {
    width: 100%;
    max-width: 100%;
    box-shadow: 5px 5px 3px rgb(51, 51, 51);
}

.bk-img {
    
    width: 95%;
    max-width: 95%;
    box-shadow: 5px 5px 3px rgb(51, 51, 51);
}

.writingImgs {
    width: 100%;
    max-width: 100%;
    box-shadow: 5px 5px 3px rgb(173, 173, 173);
}

.read {
    font-size: 20px;
    text-decoration-color: #ddd;
    letter-spacing: 3px;
    margin-top: 1em;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    line-height: normal;
    padding: 13px 26px;
    border-color:  var(--highlight-color);
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    transition: 0.1s background-color linear, 0.1s color linear;
}



.read > a {
    color: white;
    text-decoration-color: #ddd;
}

.main-wrapper {
    position: relative;
    background: linear-gradient(var(--main-color), var(--main-color-gradient));
    padding: 26px;
    display: grid;
    grid-template-columns: 55% auto;
}

.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 35% auto;
}

.landing {
    width: 100%;
    height: 1000px;
    padding: 80px 401px 0;
}

.skinny {
    background: linear-gradient(var(--main-color), var(--main-color-gradient));
    width: 100%;
    height: 1000px;
}

.doors {
    color: white;
    
}

p {
    font-size: 2em;
}

p > a {
    text-decoration-color: rgb(255, 255, 255);
    
}

.publisher {
    margin-block-start: 0;
}
.intro {
    
    text-align: left;
}

.intro a {
    color: #ffffff;
    padding: 1%;
    back
}

.writingsText {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.writingsText a {
    color: black;
}

/* .landing {
    display: inline-block;
    width: 100vw;
    height: 100%;

} */

@media screen and (max-width: 1900px){
    .menuBar a {
        padding: 0;
    }
}
    


@media screen and (max-width: 1200px) {
    .image {
        flex: 100%;
        max-width: 45%;
        
        text-align: center;
    }
    .canvas {
        padding: 40px 40px 0;
    }
   
    .menuBar {
        padding: 15px 0;
    }
       
    .pageDivide {
        padding: 7px 0;
        border-bottom: 1px solid #765AC5;
    }
    .intro {
        padding-left: 0px;
        padding-right: 0;
    }
    .imageBorder {
        flex-wrap: nowrap;
        padding: 40px 4px;
    }
    .wrapper {
        display: inline;
     
    }
    .writingsText {
        padding-left: 0;
        padding-right: 0;
    }
}